---
import Title from "../components/Title.astro";
import "../globals.css";
import ScrollIndicator from "../components/ScrollIndicator.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Seth Burkart</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
  </head>
  <body class="w-screen h-screen overflow-hidden text-white bg-black">
    <div data-scroll-container class="overflow-y-scroll">
      <div class="place-items-center grid h-screen relative">
        <Title />
        <ScrollIndicator />
      </div>
      <div class="flex justify-center px-[10%] pb-[10%] w-screen">
        <iframe width="1237" height="686" class="cursor-pointer hide-cursor z-50 rounded-lg" src="https://www.youtube.com/embed/5nBmuWoHCAg" title="Demo Reel 2022" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </body>
</html>

<script src="https://cdn.blobity.dev/by.js" is:inline></script>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"
></script>
<script is:inline>
  const options = {
    color: 'rgb(160, 160, 160)',
    dotColor: 'rgb(168 85 247)',
    dotSize: '8',
    mode: 'normal',
    invert: true
  };

  var scroll = new LocomotiveScroll({
    el: document.querySelector("[data-scroll-container]"),
    smooth: true,
    getDirection: true,
    lerp: 0.2
  });
  new Blobity(options);
</script>

<style>
  .highlight {
    @apply block;
    user-select: none;
    background: linear-gradient(
      30deg,
      rgba(37, 99, 235, 1) 0%,
      rgba(192, 132, 252, 1) 45%,
      rgba(192, 132, 252, 0) 50%
    );
    background-clip: text;
    -webkit-background-clip: text; /* Safari/Chrome */
    -moz-background-clip: text; /* Firefox */
    color: transparent;
    background-size: 250%;
  }
</style>
