@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700');



:root {
  --width: 70vw;
}

@media (min-width: 50px) {
  :root {
    --width: 70vw;
  }
}
@media (min-width: 640px) {
  :root {
    --width: 65vw;
  }
}
@media (min-width: 768px) {
  :root {
    --width: 50vw;
  }
}


.youtube {
  height: calc(var(--width) * 0.5625);
  width: var(--width);
}

.blue-text {
  @apply bg-gradient-to-br from-blue-500 to-cyan-500 bg-clip-text text-transparent;
}